데이터셋

- 로또번호 당첨데이터 (869까지)
- 기상청 날씨 데이터( 2002년 12월 -2019년 7월)

In [1]:
import pandas as pd
 
lotto = pd.read_csv("lotto_869.csv", encoding ="euc-kr")
lotto = lotto.set_index("추첨일")
weather = pd.read_csv("weater_seoul_200212_20190727.csv", encoding = "euc-kr")
weather = weather.set_index("일시")

In [2]:
# 로또 데이터 확인

weather.head(5)

,지점,평균기온,최저기온,최고기온,평균 풍속,평균 상대습도,평균 현지기압,합계 일조 시간,평균 전운량,평균 지면온도
일시,,,,,,,,,,
2002-12-01,108,4.8,-0.7,9.9,1.2,60.1,1012.5,4.6,2.9,1.7
2002-12-02,108,6.9,3.3,12.1,1.3,63.6,1015.7,3.7,2.0,3.1
2002-12-03,108,7.7,2.8,11.0,2.0,52.4,1011.6,0.3,7.1,2.8
2002-12-04,108,11.3,8.0,15.9,1.8,50.4,1005.5,5.2,4.9,7.0
2002-12-05,108,7.3,4.2,10.5,2.7,67.9,1010.4,0.0,8.1,6.2

필요한 컬럼만 추출

In [3]:
lotto = lotto.loc[:, ["No_1", "No_2","No_3","No_4","No_5","No_6","No_Bonus"]]

In [4]:
weather = weather.loc[:, ["평균기온", "평균 상대습도", "평균 현지기압"]]

In [5]:
lotto

            No_1  No_2  No_3  No_4  No_5  No_6  No_Bonus
추첨일
2019-07-27     2     6    20    27    37    39         4
2019-07-20    12    17    28    41    43    44        25
2019-07-13    14    17    19    22    24    40        41
2019-07-06     9    15    29    34    37    39        12
2019-06-29     3    15    22    32    33    45         2
...          ...   ...   ...   ...   ...   ...       ...
2003-01-04    16    24    29    40    41    42         3
2002-12-28    14    27    30    31    40    42         2
2002-12-21    11    16    19    21    27    31        30
2002-12-14     9    13    21    25    32    42         2
2002-12-07    10    23    29    33    37    40        16

[869 rows x 7 columns]

In [6]:
lotto_weather = pd.concat([lotto,weather], axis =1, join = "inner")

lotto_weather.head()

,No_1,No_2,No_3,No_4,No_5,No_6,No_Bonus,평균기온,평균 상대습도,평균 현지기압
2019-07-27,2,6,20,27,37,39,4,28.4,76.6,995.7
2019-07-20,12,17,28,41,43,44,25,28.0,66.9,990.8
2019-07-13,14,17,19,22,24,40,41,24.9,67.3,992.0
2019-07-06,9,15,29,34,37,39,12,29.7,40.9,994.1
2019-06-29,3,15,22,32,33,45,2,23.1,72.0,988.3

## 해당 번호를 1등 번호로 표시

In [7]:
lotto_weather["등수"] = 1

lotto_weather.head(5)

,No_1,No_2,No_3,No_4,No_5,No_6,No_Bonus,평균기온,평균 상대습도,평균 현지기압,등수
2019-07-27,2,6,20,27,37,39,4,28.4,76.6,995.7,1
2019-07-20,12,17,28,41,43,44,25,28.0,66.9,990.8,1
2019-07-13,14,17,19,22,24,40,41,24.9,67.3,992.0,1
2019-07-06,9,15,29,34,37,39,12,29.7,40.9,994.1,1
2019-06-29,3,15,22,32,33,45,2,23.1,72.0,988.3,1

## 2등 번호와 등수를 추출해서 새로운 행에 추가( 6개의 숫자 중 하나를 보너스번호 변경)

In [8]:
lotto_weather.shape

(869, 11)

In [9]:
lotto_weather3 = lotto_weather.copy()

for i in range(len(lotto_weather)):
    # 해당 회차에서 각 번호 (6개) 대신에 하나씩 보너스 번호로 변경 - > 2등
    
    
    for j in range(6):
        #한 줄씩 읽어서 lotto_weather2 저장
        lotto_weather2=lotto_weather.iloc[[i],:]
        # 해당 줄에서 각 번호를 하나씩 보너스 번호로 교체
        lotto_weather2.iloc[:, j] = lotto_weather2.loc[:, "No_Bonus"]
        
        # 등수 추가        
        lotto_weather2.loc[:, "등수"] = 2 
        
        # 추가된 데이터를 total의 행에 추가
        
        lotto_weather3 = pd.concat([lotto_weather3, lotto_weather2])

c:\users\smt065\anaconda3\envs\tf\lib\site-packages\pandas\core\indexing.py:1675: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
c:\users\smt065\anaconda3\envs\tf\lib\site-packages\pandas\core\indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [10]:
lotto_weather3.shape

(6083, 11)

In [11]:
lotto_weather3.tail(6)

,No_1,No_2,No_3,No_4,No_5,No_6,No_Bonus,평균기온,평균 상대습도,평균 현지기압,등수
2002-12-07,16,23,29,33,37,40,16,5.2,63.9,1014.5,2
2002-12-07,10,16,29,33,37,40,16,5.2,63.9,1014.5,2
2002-12-07,10,23,16,33,37,40,16,5.2,63.9,1014.5,2
2002-12-07,10,23,29,16,37,40,16,5.2,63.9,1014.5,2
2002-12-07,10,23,29,33,16,40,16,5.2,63.9,1014.5,2
2002-12-07,10,23,29,33,37,16,16,5.2,63.9,1014.5,2

## 3등, 4등, 5등 데이터도 추가

- 3등 : 6개 자리수 중에서 1개 틀린 것(5개가 맞은 것)
- 4등 : 6개 자리수 중에서 2개 틀린 것(4개가 맞은 것)
- 5등 : 6개 자리수 중에서 3개 틀린 것(4개가 맞은 것)

In [80]:
from tqdm.notebook import tqdm as tq
import numpy as np

lotto_weather5 = lotto_weather3.copy() # 1,2등이 있는 것

# 전체 회차만큼 반복
for i in tq(range(len(lotto_weather))):
    # 3등 : 6개 중에서 5개가 맞고, 한개는 보너스번호가 아닌 나머지 38개 중에서 한개
    for j in range(6):
        # 1~45번까지의 숫자
        lotto_num = np.arange(1,46)
        
        # 한줄씩 읽어서 lotto_weather2에 저장
        lotto_weather2 = lotto_weather.iloc[[i],:]
        
        # 각 회차에서 번호 7개(6개의 번호 + 보너스 번호)를 뽑아낸다.
        list1 = lotto_weather2.iloc[:,0:7].values 
        
        # 1~45번까지의 숫자 중에서 뽑힌 7개의 번호가 아닌 나머지 번호
        # np.setdiff1d (a,b) : nparray a에 들어있는 b를 뺀다.
        # ex) a : [1,2,3,4,5] b: [1,3] -> np.setdiff1d (a,b) = [2,4,5]
        lotto_rest = np.setdiff1d(lotto_num,list1)
            
        # 해당 줄에서 각 번호를 당첨 안되는 번호로 교체
        for k in lotto_rest:
            lotto_weather2.iloc[:,j] = k
        
        # 등수 추가하기
            lotto_weather2.loc[:,'등수'] = 3
        
        # 추가된 데이터를 lotto_weather5에 추가
            lotto_weather5 = pd.concat([lotto_weather5, lotto_weather2])

  0%|          | 0/869 [00:00<?, ?it/s]

c:\users\smt065\anaconda3\envs\tf\lib\site-packages\pandas\core\indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [2]:
import pandas as pd
lotto3 = pd.read_csv('lotto3.csv', index_col = 0)

In [3]:
lotto3.value_counts("등수")

등수
3    198132
1       869
2        60
dtype: int64

In [4]:
## 보너스 번호 제거

del lotto3["No_Bonus"]

lotto3

            No_1  No_2  No_3  No_4  No_5  No_6  평균기온  평균 상대습도  평균 현지기압  등수
2019-07-27     2     6    20    27    37    39  28.4     76.6    995.7   1
2019-07-20    12    17    28    41    43    44  28.0     66.9    990.8   1
2019-07-13    14    17    19    22    24    40  24.9     67.3    992.0   1
2019-07-06     9    15    29    34    37    39  29.7     40.9    994.1   1
2019-06-29     3    15    22    32    33    45  23.1     72.0    988.3   1
...          ...   ...   ...   ...   ...   ...   ...      ...      ...  ..
2002-12-07    10    23    29    33    37    41   5.2     63.9   1014.5   3
2002-12-07    10    23    29    33    37    42   5.2     63.9   1014.5   3
2002-12-07    10    23    29    33    37    43   5.2     63.9   1014.5   3
2002-12-07    10    23    29    33    37    44   5.2     63.9   1014.5   3
2002-12-07    10    23    29    33    37    45   5.2     63.9   1014.5   3

[199061 rows x 10 columns]

In [5]:
X=lotto3.iloc[:,:-1]
y=lotto3.iloc[:,-1]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test, y_train, y_test = train_test_split(X,y, random_state = 45)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((149295, 9), (149295,), (49766, 9), (49766,))

In [8]:
y_train_en = pd.get_dummies(y_train)
y_test_en = pd.get_dummies(y_test)

In [9]:
y_train_en.value_counts()

1  2  3
0  0  1    148605
1  0  0       647
0  1  0        43
dtype: int64

In [10]:
y_train_en.shape, y_test_en.shape

((149295, 3), (49766, 3))

In [11]:
import numpy as np
import tensorflow as tf

seed = 0
np.random.seed(seed)
tf.random.set_seed(seed)

In [12]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [21]:
model_lotto = Sequential()

# 입력층 
model_lotto.add(Dense(27 , input_dim = 9, activation = "relu"))

# 은닉층

model_lotto.add(Dense(54 , activation = "relu"))
model_lotto.add(Dense(108 , activation = "relu"))
model_lotto.add(Dense(216 , activation = "relu"))
model_lotto.add(Dense(108 , activation = "relu"))
model_lotto.add(Dense(54 , activation = "relu"))

model_lotto.add(Dense(3, activation = "softmax"))

model_lotto.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 27)                270
_________________________________________________________________
dense_8 (Dense)              (None, 54)                1512
_________________________________________________________________
dense_9 (Dense)              (None, 108)               5940
_________________________________________________________________
dense_10 (Dense)             (None, 216)               23544
_________________________________________________________________
dense_11 (Dense)             (None, 108)               23436
_________________________________________________________________
dense_12 (Dense)             (None, 54)                5886
_________________________________________________________________
dense_13 (Dense)             (None, 3)                 165
=================================================================
Total params: 60,753
Trainable params: 60,753
Non-trainable params: 0
_________________________________________________________________

In [22]:
model_lotto.compile(loss = "categorical_crossentropy",
                   optimizer = "adam",
                   metrics = ["acc"])

In [23]:
model_lotto.fit(X_train, y_train_en, epochs= 30, batch_size = 150,
               validation_data = (X_test , y_test_en))

Epoch 1/30
996/996 [==============================] - 4s 4ms/step - loss: 0.5239 - acc: 0.9817 - val_loss: 0.0314 - val_acc: 0.9952
Epoch 2/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0342 - acc: 0.9952 - val_loss: 0.0323 - val_acc: 0.9952
Epoch 3/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0328 - acc: 0.9952 - val_loss: 0.0319 - val_acc: 0.9952
Epoch 4/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0342 - acc: 0.9949 - val_loss: 0.0318 - val_acc: 0.9952
Epoch 5/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0305 - acc: 0.9955 - val_loss: 0.0313 - val_acc: 0.9952
Epoch 6/30
996/996 [==============================] - 3s 3ms/step - loss: 0.0319 - acc: 0.9952 - val_loss: 0.0333 - val_acc: 0.9952
Epoch 7/30
996/996 [==============================] - 3s 3ms/step - loss: 0.0310 - acc: 0.9954 - val_loss: 0.0339 - val_acc: 0.9952
Epoch 8/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0325 - acc: 0.9952 - val_loss: 0.0315 - val_acc: 0.9952
Epoch 9/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0307 - acc: 0.9954 - val_loss: 0.0321 - val_acc: 0.9952
Epoch 10/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0317 - acc: 0.9953 - val_loss: 0.0316 - val_acc: 0.9952
Epoch 11/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0325 - acc: 0.9952 - val_loss: 0.0311 - val_acc: 0.9952
Epoch 12/30
996/996 [==============================] - 3s 3ms/step - loss: 0.0308 - acc: 0.9953 - val_loss: 0.0313 - val_acc: 0.9952
Epoch 13/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0302 - acc: 0.9955 - val_loss: 0.0314 - val_acc: 0.9952
Epoch 14/30
996/996 [==============================] - 3s 3ms/step - loss: 0.0315 - acc: 0.9953 - val_loss: 0.0328 - val_acc: 0.9952
Epoch 15/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0312 - acc: 0.9954 - val_loss: 0.0311 - val_acc: 0.9952
Epoch 16/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0319 - acc: 0.9952 - val_loss: 0.0310 - val_acc: 0.9952
Epoch 17/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0314 - acc: 0.9952 - val_loss: 0.0311 - val_acc: 0.9952
Epoch 18/30
996/996 [==============================] - 3s 4ms/step - loss: 0.0300 - acc: 0.9954 - val_loss: 0.0310 - val_acc: 0.9952
Epoch 19/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0313 - acc: 0.9952 - val_loss: 0.0310 - val_acc: 0.9952
Epoch 20/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0301 - acc: 0.9954 - val_loss: 0.0318 - val_acc: 0.9952
Epoch 21/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0306 - acc: 0.9953 - val_loss: 0.0308 - val_acc: 0.9952
Epoch 22/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0296 - acc: 0.9955 - val_loss: 0.0309 - val_acc: 0.9952
Epoch 23/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0310 - acc: 0.9953 - val_loss: 0.0320 - val_acc: 0.9952
Epoch 24/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0304 - acc: 0.9953 - val_loss: 0.0309 - val_acc: 0.9952
Epoch 25/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0304 - acc: 0.9953 - val_loss: 0.0323 - val_acc: 0.9952
Epoch 26/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0290 - acc: 0.9955 - val_loss: 0.0306 - val_acc: 0.9952
Epoch 27/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0303 - acc: 0.9953 - val_loss: 0.0310 - val_acc: 0.9952
Epoch 28/30
996/996 [==============================] - 3s 3ms/step - loss: 0.0296 - acc: 0.9954 - val_loss: 0.0306 - val_acc: 0.9952
Epoch 29/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0296 - acc: 0.9954 - val_loss: 0.0306 - val_acc: 0.9952
Epoch 30/30
996/996 [==============================] - 4s 4ms/step - loss: 0.0290 - acc: 0.9955 - val_loss: 0.0301 - val_acc: 0.9952

In [16]:
import random
predic_list=[]
ran_num = random.randint(1,46)
for i in range(6):
    while ran_num in predic_list:
        ran_num=random.randint(1,46)
    predic_list.append(ran_num)

In [17]:
list=np.array([predic_list[0],predic_list[1],predic_list[2],
                        predic_list[3],predic_list[4],predic_list[5],
               9,92,1021]).reshape(1,9)

In [18]:
predic_list

[25, 42, 34, 8, 37, 15]

In [19]:
list

array([[  25,   42,   34,    8,   37,   15,    9,   92, 1021]])

In [20]:
pred=model_lotto.predict(list)
pred

array([[3.0761687e-03, 2.3700504e-04, 9.9668688e-01]], dtype=float32)