In [1]:
import pandas as pd

In [2]:
lotto_data=pd.read_csv("./lotto_jin",index_col=0)
lotto_data

        회차    연도   월   일  홀수  짝수   총합  연속횟수  숫자 당첨
0      946  2021   1  16   2   4  150     1   1  N
1      945  2021   1   9   4   2  130     1   1  N
2      944  2021   1   2   3   3  110     1   1  N
3      943  2020  12  26   3   3  140     1   1  Y
4      942  2020  12  19   2   4  160     1   1  N
...    ...   ...  ..  ..  ..  ..  ...   ...  .. ..
42565    1  2002  12   7   4   2  170     0  41  N
42566    1  2002  12   7   4   2  170     0  42  N
42567    1  2002  12   7   4   2  170     0  43  N
42568    1  2002  12   7   4   2  170     0  44  N
42569    1  2002  12   7   4   2  170     0  45  N

[42570 rows x 10 columns]

In [3]:
lotto_data["당첨"].value_counts()

N    35948
Y     6622
Name: 당첨, dtype: int64

In [4]:
lotto_data["홀수"].value_counts()

3    14805
4    10710
2     9540
5     3375
1     3375
6      765
Name: 홀수, dtype: int64

In [5]:
lotto_data["총합"].value_counts()

130    5490
140    5175
120    4950
160    4500
110    4095
150    3780
170    3195
100    2790
90     2160
180    1710
80     1260
190    1215
70      900
200     540
60      315
210     225
50      135
220      45
40       45
230      45
Name: 총합, dtype: int64

In [6]:
lotto_data["연속횟수"].value_counts()

0    20475
1    16560
2     4995
3      540
Name: 연속횟수, dtype: int64

In [7]:
X=lotto_data.iloc[:,:-1]
y=lotto_data.iloc[:,-1]

In [8]:
y_en=pd.get_dummies(y)
y_en

       N  Y
0      1  0
1      1  0
2      1  0
3      0  1
4      1  0
...   .. ..
42565  1  0
42566  1  0
42567  1  0
42568  1  0
42569  1  0

[42570 rows x 2 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y_en,random_state=45)
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((31927, 9), (31927, 2), (10643, 9), (10643, 2))

In [10]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [11]:
lotto_model=Sequential()
lotto_model.add(Dense(18,input_dim=9,activation="relu"))
lotto_model.add(Dense(72,activation="relu"))
lotto_model.add(Dense(144,activation="relu"))
lotto_model.add(Dense(36,activation="relu"))
lotto_model.add(Dense(18,activation="relu"))
lotto_model.add(Dense(2,activation="softmax"))
lotto_model.compile(loss="categorical_crossentropy",
             optimizer="adam",
             metrics=["acc"])

In [12]:
lotto_model.fit(X_train,y_train,epochs=50,batch_size=50,
               validation_data=(X_test,y_test))

Epoch 1/50
WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x00000223078FAAE8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x00000223078FAAE8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
639/639 [==============================] - ETA: 0s - loss: 0.6209 - acc: 0.8136- ETA: 1s - loss: 0.9WARNING:tensorflow:AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x0000022307E2FBF8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x0000022307E2FBF8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
639/639 [==============================] - 2s 3ms/step - loss: 0.6209 - acc: 0.8136 - val_loss: 0.4533 - val_acc: 0.8407
Epoch 2/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4831 - acc: 0.8353 - val_loss: 0.5860 - val_acc: 0.8407
Epoch 3/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4606 - acc: 0.8439 - val_loss: 0.4494 - val_acc: 0.8407
Epoch 4/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4484 - acc: 0.8455 - val_loss: 0.4395 - val_acc: 0.8407
Epoch 5/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4431 - acc: 0.8457 - val_loss: 0.4412 - val_acc: 0.8407
Epoch 6/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4366 - acc: 0.8457 - val_loss: 0.4397 - val_acc: 0.8407
Epoch 7/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4352 - acc: 0.8457 - val_loss: 0.4416 - val_acc: 0.8407
Epoch 8/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4338 - acc: 0.8457 - val_loss: 0.4404 - val_acc: 0.8407
Epoch 9/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4327 - acc: 0.8457 - val_loss: 0.4388 - val_acc: 0.8407
Epoch 10/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4325 - acc: 0.8456 - val_loss: 0.4573 - val_acc: 0.8407
Epoch 11/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4332 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 12/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4327 - acc: 0.8457 - val_loss: 0.4492 - val_acc: 0.8407
Epoch 13/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4319 - acc: 0.8457 - val_loss: 0.4390 - val_acc: 0.8407
Epoch 14/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4323 - acc: 0.8457 - val_loss: 0.4388 - val_acc: 0.8407
Epoch 15/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4322 - acc: 0.8457 - val_loss: 0.4396 - val_acc: 0.8407
Epoch 16/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4328 - acc: 0.8457 - val_loss: 0.4403 - val_acc: 0.8407
Epoch 17/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4322 - acc: 0.8457 - val_loss: 0.4410 - val_acc: 0.8407
Epoch 18/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4321 - acc: 0.8457 - val_loss: 0.4403 - val_acc: 0.8407
Epoch 19/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4326 - acc: 0.8455 - val_loss: 0.4418 - val_acc: 0.8407
Epoch 20/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4311 - acc: 0.8457 - val_loss: 0.4391 - val_acc: 0.8407
Epoch 21/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4317 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 22/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4310 - acc: 0.8457 - val_loss: 0.4381 - val_acc: 0.8407
Epoch 23/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4309 - acc: 0.8457 - val_loss: 0.4375 - val_acc: 0.8407
Epoch 24/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4311 - acc: 0.8457 - val_loss: 0.4386 - val_acc: 0.8407
Epoch 25/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4311 - acc: 0.8457 - val_loss: 0.4416 - val_acc: 0.8407
Epoch 26/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4308 - acc: 0.8457 - val_loss: 0.4387 - val_acc: 0.8407
Epoch 27/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4315 - acc: 0.8457 - val_loss: 0.4388 - val_acc: 0.8407
Epoch 28/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4308 - acc: 0.8457 - val_loss: 0.4389 - val_acc: 0.8407
Epoch 29/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4309 - acc: 0.8457 - val_loss: 0.4389 - val_acc: 0.8407
Epoch 30/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4308 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 31/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4309 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 32/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4310 - acc: 0.8457 - val_loss: 0.4389 - val_acc: 0.8407
Epoch 33/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4307 - acc: 0.8457 - val_loss: 0.4390 - val_acc: 0.8407
Epoch 34/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4309 - acc: 0.8457 - val_loss: 0.4394 - val_acc: 0.8407
Epoch 35/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4307 - acc: 0.8457 - val_loss: 0.4389 - val_acc: 0.8407
Epoch 36/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4306 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 37/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4306 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 38/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4307 - acc: 0.8457 - val_loss: 0.4395 - val_acc: 0.8407
Epoch 39/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4305 - acc: 0.8457 - val_loss: 0.4392 - val_acc: 0.8407
Epoch 40/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4305 - acc: 0.8457 - val_loss: 0.4387 - val_acc: 0.8407
Epoch 41/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4305 - acc: 0.8457 - val_loss: 0.4388 - val_acc: 0.8407
Epoch 42/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4304 - acc: 0.8457 - val_loss: 0.4389 - val_acc: 0.8407
Epoch 43/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4305 - acc: 0.8457 - val_loss: 0.4391 - val_acc: 0.8407
Epoch 44/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4303 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 45/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4303 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 46/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4303 - acc: 0.8457 - val_loss: 0.4386 - val_acc: 0.8407
Epoch 47/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4303 - acc: 0.8457 - val_loss: 0.4394 - val_acc: 0.8407
Epoch 48/50

639/639 [==============================] - 1s 2ms/step - loss: 0.4303 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 49/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4308 - acc: 0.8457 - val_loss: 0.4385 - val_acc: 0.8407
Epoch 50/50
639/639 [==============================] - 1s 2ms/step - loss: 0.4301 - acc: 0.8457 - val_loss: 0.4389 - val_acc: 0.8407

In [13]:
list=[947,2021,1,23,3,3,130,0,1]

In [14]:
pred_list=np.array(list).reshape(1,9)

In [15]:
pred=lotto_model.predict(pred_list)
pred[0][1]

WARNING:tensorflow:AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x00000223082C6C80> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x00000223082C6C80> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert

0.14723614

In [16]:
num_list=[]
for i in range(1,46,1):
    list=[947,2021,1,23,3,3,130,0]
    list.append(i)
    pred_list=np.array(list).reshape(1,9)
    pred=lotto_model.predict(pred_list)
    num_list.append(pred[0][1])

In [17]:
num_list

[0.14723614,
 0.14709063,
 0.14693317,
 0.1467731,
 0.14661321,
 0.14645344,
 0.1462938,
 0.14613435,
 0.14598523,
 0.145859,
 0.14573288,
 0.14560688,
 0.14548473,
 0.14537844,
 0.1452865,
 0.1451948,
 0.14510606,
 0.14501731,
 0.14492863,
 0.14484,
 0.14475141,
 0.14466289,
 0.1445744,
 0.14448597,
 0.14439757,
 0.14429478,
 0.14415263,
 0.1440106,
 0.14386871,
 0.1437269,
 0.14358523,
 0.14344364,
 0.14330223,
 0.14316091,
 0.14301968,
 0.1428786,
 0.14273761,
 0.14259675,
 0.142456,
 0.14231536,
 0.14217487,
 0.14203547,
 0.1418962,
 0.14175673,
 0.14161718]

데이터 중 당첨에 n인 부위를 y와 동일하게 7000개 정도로 맞춰줄 필요가 있어보임

In [18]:
from tensorflow.keras.callbacks import EarlyStopping

In [19]:
lotto_data

        회차    연도   월   일  홀수  짝수   총합  연속횟수  숫자 당첨
0      946  2021   1  16   2   4  150     1   1  N
1      945  2021   1   9   4   2  130     1   1  N
2      944  2021   1   2   3   3  110     1   1  N
3      943  2020  12  26   3   3  140     1   1  Y
4      942  2020  12  19   2   4  160     1   1  N
...    ...   ...  ..  ..  ..  ..  ...   ...  .. ..
42565    1  2002  12   7   4   2  170     0  41  N
42566    1  2002  12   7   4   2  170     0  42  N
42567    1  2002  12   7   4   2  170     0  43  N
42568    1  2002  12   7   4   2  170     0  44  N
42569    1  2002  12   7   4   2  170     0  45  N

[42570 rows x 10 columns]

In [20]:
lotto_data.sort_values(by=["당첨"],inplace=True)
lotto_data

        회차    연도   월   일  홀수  짝수   총합  연속횟수  숫자 당첨
0      946  2021   1  16   2   4  150     1   1  N
27187  350  2009   8  15   3   3  110     0  19  N
27188  350  2009   8  15   3   3  110     0  20  N
27189  350  2009   8  15   3   3  110     0  21  N
27190  350  2009   8  15   3   3  110     0  22  N
...    ...   ...  ..  ..  ..  ..  ...   ...  .. ..
37046  126  2005   4  30   3   3  150     0  22  Y
23436  435  2011   4   2   1   5  160     0   8  Y
37044  126  2005   4  30   3   3  150     0  20  Y
31895  243  2007   7  28   2   4  120     0  19  Y
38104  102  2004  11  13   2   4  160     0  24  Y

[42570 rows x 10 columns]

In [21]:
lotto_data[lotto_data["당첨"]=="N"]

        회차    연도  월   일  홀수  짝수   총합  연속횟수  숫자 당첨
0      946  2021  1  16   2   4  150     1   1  N
27187  350  2009  8  15   3   3  110     0  19  N
27188  350  2009  8  15   3   3  110     0  20  N
27189  350  2009  8  15   3   3  110     0  21  N
27190  350  2009  8  15   3   3  110     0  22  N
...    ...   ... ..  ..  ..  ..  ...   ...  .. ..
11428  708  2016  6  25   2   4  120     0  12  N
12413  686  2016  1  23   4   2  120     1  29  N
12533  683  2016  1   2   2   4  130     1  17  N
13790  655  2015  6  20   3   3  200     2  42  N
13822  654  2015  6  13   3   3  170     0  30  N

[35948 rows x 10 columns]

In [22]:
before_data=lotto_data[lotto_data["당첨"]=="N"]

In [23]:
after_data=before_data.sample(frac=0.19,random_state=45)
len(after_data)

6830

In [24]:
before_data2=lotto_data[lotto_data["당첨"]=="Y"]
before_data2

        회차    연도   월   일  홀수  짝수   총합  연속횟수  숫자 당첨
22068  466  2011  11   5   2   4  120     0   4  Y
17956  560  2013   8  24   4   2  120     0  28  Y
38933   83  2004   7   3   3   3  100     0  17  Y
21321  483  2012   3   3   2   4  130     0   5  Y
17314  574  2013  11  30   4   2  130     2   2  Y
...    ...   ...  ..  ..  ..  ..  ...   ...  .. ..
37046  126  2005   4  30   3   3  150     0  22  Y
23436  435  2011   4   2   1   5  160     0   8  Y
37044  126  2005   4  30   3   3  150     0  20  Y
31895  243  2007   7  28   2   4  120     0  19  Y
38104  102  2004  11  13   2   4  160     0  24  Y

[6622 rows x 10 columns]

In [25]:
lotto_data2=pd.concat([after_data,before_data2],axis=0,join="inner")
lotto_data2

        회차    연도   월   일  홀수  짝수   총합  연속횟수  숫자 당첨
14801  632  2015   1  10   3   3  160     0  41  N
3703   884  2019  11   9   3   3  150     0  31  N
12062  694  2016   3  19   5   1  140     0  30  N
13570  660  2015   7  25   4   2  150     0  42  N
39283   75  2004   5   8   1   5  140     0  15  N
...    ...   ...  ..  ..  ..  ..  ...   ...  .. ..
37046  126  2005   4  30   3   3  150     0  22  Y
23436  435  2011   4   2   1   5  160     0   8  Y
37044  126  2005   4  30   3   3  150     0  20  Y
31895  243  2007   7  28   2   4  120     0  19  Y
38104  102  2004  11  13   2   4  160     0  24  Y

[13452 rows x 10 columns]

In [26]:
X=lotto_data.iloc[:,:-1]
y=lotto_data.iloc[:,-1]

In [27]:
y_en=pd.get_dummies(y)
y_en

       N  Y
0      1  0
27187  1  0
27188  1  0
27189  1  0
27190  1  0
...   .. ..
37046  0  1
23436  0  1
37044  0  1
31895  0  1
38104  0  1

[42570 rows x 2 columns]

In [28]:
X_train,X_test,y_train,y_test= train_test_split(X,y_en,random_state=45)
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((31927, 9), (31927, 2), (10643, 9), (10643, 2))

In [29]:
lotto_model=Sequential()
lotto_model.add(Dense(18,input_dim=9,activation="relu"))
lotto_model.add(Dense(72,activation="relu"))
lotto_model.add(Dense(144,activation="relu"))
lotto_model.add(Dense(36,activation="relu"))
lotto_model.add(Dense(18,activation="relu"))
lotto_model.add(Dense(2,activation="softmax"))
lotto_model.compile(loss="categorical_crossentropy",
             optimizer="adam",
             metrics=["acc"])

In [30]:
lotto_model.fit(X_train,y_train,epochs=100,batch_size=100,
               validation_data=(X_test,y_test))

Epoch 1/100
WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x0000022307BC49D8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x0000022307BC49D8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
314/320 [============================>.] - ETA: 0s - loss: 1.0016 - acc: 0.8174WARNING:tensorflow:AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x00000223017ECF28> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x00000223017ECF28> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
320/320 [==============================] - 1s 3ms/step - loss: 0.9947 - acc: 0.8165 - val_loss: 0.5803 - val_acc: 0.8495
Epoch 2/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4764 - acc: 0.8395 - val_loss: 0.6935 - val_acc: 0.8495
Epoch 3/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4801 - acc: 0.8389 - val_loss: 0.4225 - val_acc: 0.8495
Epoch 4/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4450 - acc: 0.8428 - val_loss: 0.5145 - val_acc: 0.8495
Epoch 5/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4620 - acc: 0.8412 - val_loss: 0.4267 - val_acc: 0.8495
Epoch 6/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4452 - acc: 0.8428 - val_loss: 0.4252 - val_acc: 0.8495
Epoch 7/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4398 - acc: 0.8428 - val_loss: 0.4256 - val_acc: 0.8495
Epoch 8/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4375 - acc: 0.8428 - val_loss: 0.4253 - val_acc: 0.8495
Epoch 9/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4377 - acc: 0.8428 - val_loss: 0.4219 - val_acc: 0.8495
Epoch 10/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4418 - acc: 0.8426 - val_loss: 0.5718 - val_acc: 0.8495
Epoch 11/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4890 - acc: 0.8328 - val_loss: 0.4259 - val_acc: 0.8495
Epoch 12/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4416 - acc: 0.8428 - val_loss: 0.4257 - val_acc: 0.8495
Epoch 13/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4370 - acc: 0.8428 - val_loss: 0.4243 - val_acc: 0.8495
Epoch 14/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4372 - acc: 0.8428 - val_loss: 0.4250 - val_acc: 0.8495
Epoch 15/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4384 - acc: 0.8428 - val_loss: 0.4240 - val_acc: 0.8495
Epoch 16/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4375 - acc: 0.8428 - val_loss: 0.4237 - val_acc: 0.8495
Epoch 17/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4381 - acc: 0.8428 - val_loss: 0.4237 - val_acc: 0.8495
Epoch 18/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4383 - acc: 0.8428 - val_loss: 0.4347 - val_acc: 0.8495
Epoch 19/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4519 - acc: 0.8428 - val_loss: 0.4254 - val_acc: 0.8495
Epoch 20/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4373 - acc: 0.8428 - val_loss: 0.4250 - val_acc: 0.8495
Epoch 21/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4371 - acc: 0.8428 - val_loss: 0.4230 - val_acc: 0.8495
Epoch 22/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4532 - acc: 0.8427 - val_loss: 0.4254 - val_acc: 0.8495
Epoch 23/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4386 - acc: 0.8428 - val_loss: 0.4234 - val_acc: 0.8495
Epoch 24/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4360 - acc: 0.8428 - val_loss: 0.4229 - val_acc: 0.8495
Epoch 25/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4352 - acc: 0.8428 - val_loss: 0.4254 - val_acc: 0.8495
Epoch 26/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4366 - acc: 0.8428 - val_loss: 0.4256 - val_acc: 0.8495
Epoch 27/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4355 - acc: 0.8427 - val_loss: 0.4216 - val_acc: 0.8495
Epoch 28/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4343 - acc: 0.8428 - val_loss: 0.4215 - val_acc: 0.8495
Epoch 29/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4347 - acc: 0.8428 - val_loss: 0.4214 - val_acc: 0.8495
Epoch 30/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4358 - acc: 0.8428 - val_loss: 0.4244 - val_acc: 0.8495
Epoch 31/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4346 - acc: 0.8428 - val_loss: 0.4269 - val_acc: 0.8495
Epoch 32/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4338 - acc: 0.8428 - val_loss: 0.4260 - val_acc: 0.8495
Epoch 33/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4328 - acc: 0.8428 - val_loss: 0.4249 - val_acc: 0.8495
Epoch 34/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4346 - acc: 0.8428 - val_loss: 0.4208 - val_acc: 0.8495
Epoch 35/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4331 - acc: 0.8428 - val_loss: 0.4220 - val_acc: 0.8495
Epoch 36/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4332 - acc: 0.8428 - val_loss: 0.4214 - val_acc: 0.8495
Epoch 37/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4327 - acc: 0.8428 - val_loss: 0.4202 - val_acc: 0.8495
Epoch 38/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4326 - acc: 0.8428 - val_loss: 0.4214 - val_acc: 0.8495
Epoch 39/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4326 - acc: 0.8427 - val_loss: 0.4214 - val_acc: 0.8495
Epoch 40/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4319 - acc: 0.8428 - val_loss: 0.4205 - val_acc: 0.8495
Epoch 41/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4317 - acc: 0.8428 - val_loss: 0.4239 - val_acc: 0.8495
Epoch 42/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4318 - acc: 0.8428 - val_loss: 0.4204 - val_acc: 0.8495
Epoch 43/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4319 - acc: 0.8428 - val_loss: 0.4231 - val_acc: 0.8495
Epoch 44/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4308 - acc: 0.8428 - val_loss: 0.4192 - val_acc: 0.8495
Epoch 45/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4311 - acc: 0.8428 - val_loss: 0.4200 - val_acc: 0.8495
Epoch 46/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4317 - acc: 0.8428 - val_loss: 0.4204 - val_acc: 0.8495
Epoch 47/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4306 - acc: 0.8428 - val_loss: 0.4188 - val_acc: 0.8495

Epoch 48/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4305 - acc: 0.8428 - val_loss: 0.4203 - val_acc: 0.8495
Epoch 49/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4305 - acc: 0.8428 - val_loss: 0.4181 - val_acc: 0.8495
Epoch 50/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4299 - acc: 0.8428 - val_loss: 0.4189 - val_acc: 0.8495
Epoch 51/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4296 - acc: 0.8428 - val_loss: 0.4193 - val_acc: 0.8495
Epoch 52/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4305 - acc: 0.8428 - val_loss: 0.4186 - val_acc: 0.8495
Epoch 53/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4301 - acc: 0.8428 - val_loss: 0.4205 - val_acc: 0.8495
Epoch 54/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4300 - acc: 0.8428 - val_loss: 0.4189 - val_acc: 0.8495
Epoch 55/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4294 - acc: 0.8428 - val_loss: 0.4204 - val_acc: 0.8495
Epoch 56/100
320/320 [==============================] - 1s 3ms/step - loss: 0.4299 - acc: 0.8428 - val_loss: 0.4181 - val_acc: 0.8495
Epoch 57/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4298 - acc: 0.8428 - val_loss: 0.4177 - val_acc: 0.8495
Epoch 58/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4303 - acc: 0.8428 - val_loss: 0.4203 - val_acc: 0.8495
Epoch 59/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4302 - acc: 0.8428 - val_loss: 0.4191 - val_acc: 0.8495
Epoch 60/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4297 - acc: 0.8428 - val_loss: 0.4216 - val_acc: 0.8495
Epoch 61/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4296 - acc: 0.8428 - val_loss: 0.4177 - val_acc: 0.8495
Epoch 62/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4297 - acc: 0.8428 - val_loss: 0.4194 - val_acc: 0.8495
Epoch 63/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4299 - acc: 0.8428 - val_loss: 0.4173 - val_acc: 0.8495
Epoch 64/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4296 - acc: 0.8428 - val_loss: 0.4175 - val_acc: 0.8495
Epoch 65/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4296 - acc: 0.8428 - val_loss: 0.4174 - val_acc: 0.8495
Epoch 66/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4296 - acc: 0.8428 - val_loss: 0.4181 - val_acc: 0.8495
Epoch 67/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4296 - acc: 0.8428 - val_loss: 0.4182 - val_acc: 0.8495
Epoch 68/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4294 - acc: 0.8428 - val_loss: 0.4194 - val_acc: 0.8495
Epoch 69/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4298 - acc: 0.8428 - val_loss: 0.4182 - val_acc: 0.8495
Epoch 70/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4293 - acc: 0.8428 - val_loss: 0.4175 - val_acc: 0.8495
Epoch 71/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4291 - acc: 0.8428 - val_loss: 0.4173 - val_acc: 0.8495
Epoch 72/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4298 - acc: 0.8428 - val_loss: 0.4176 - val_acc: 0.8495
Epoch 73/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4295 - acc: 0.8428 - val_loss: 0.4174 - val_acc: 0.8495
Epoch 74/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4290 - acc: 0.8428 - val_loss: 0.4180 - val_acc: 0.8495
Epoch 75/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4293 - acc: 0.8428 - val_loss: 0.4176 - val_acc: 0.8495
Epoch 76/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4293 - acc: 0.8428 - val_loss: 0.4178 - val_acc: 0.8495
Epoch 77/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4293 - acc: 0.8428 - val_loss: 0.4174 - val_acc: 0.8495
Epoch 78/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4296 - acc: 0.8428 - val_loss: 0.4177 - val_acc: 0.8495
Epoch 79/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4291 - acc: 0.8428 - val_loss: 0.4171 - val_acc: 0.8495
Epoch 80/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4298 - acc: 0.8428 - val_loss: 0.4178 - val_acc: 0.8495
Epoch 81/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4293 - acc: 0.8428 - val_loss: 0.4172 - val_acc: 0.8495
Epoch 82/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4294 - acc: 0.8428 - val_loss: 0.4198 - val_acc: 0.8495
Epoch 83/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4295 - acc: 0.8428 - val_loss: 0.4175 - val_acc: 0.8495
Epoch 84/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4293 - acc: 0.8428 - val_loss: 0.4176 - val_acc: 0.8495
Epoch 85/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4293 - acc: 0.8428 - val_loss: 0.4182 - val_acc: 0.8495
Epoch 86/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4294 - acc: 0.8428 - val_loss: 0.4181 - val_acc: 0.8495
Epoch 87/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4290 - acc: 0.8428 - val_loss: 0.4175 - val_acc: 0.8495
Epoch 88/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4296 - acc: 0.8428 - val_loss: 0.4173 - val_acc: 0.8495
Epoch 89/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4291 - acc: 0.8428 - val_loss: 0.4175 - val_acc: 0.8495
Epoch 90/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4291 - acc: 0.8428 - val_loss: 0.4175 - val_acc: 0.8495
Epoch 91/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4291 - acc: 0.8428 - val_loss: 0.4177 - val_acc: 0.8495
Epoch 92/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4292 - acc: 0.8428 - val_loss: 0.4185 - val_acc: 0.8495
Epoch 93/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4291 - acc: 0.8428 - val_loss: 0.4186 - val_acc: 0.8495
Epoch 94/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4290 - acc: 0.8428 - val_loss: 0.4189 - val_acc: 0.8495
Epoch 95/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4292 - acc: 0.8428 - val_loss: 0.4174 - val_acc: 0.8495
Epoch 96/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4290 - acc: 0.8428 - val_loss: 0.4188 - val_acc: 0.8495
Epoch 97/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4294 - acc: 0.8428 - val_loss: 0.4176 - val_acc: 0.8495
Epoch 98/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4291 - acc: 0.8428 - val_loss: 0.4174 - val_acc: 0.8495
Epoch 99/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4288 - acc: 0.8428 - val_loss: 0.4182 - val_acc: 0.8495
Epoch 100/100
320/320 [==============================] - 1s 2ms/step - loss: 0.4291 - acc: 0.8428 - val_loss: 0.4184 - val_acc: 0.8495

In [31]:
num_list=[]
for i in range(1,46,1):
    list=[947,2021,1,23,4,2,130,0]
    list.append(i)
    pred_list=np.array(list).reshape(1,9)
    pred=lotto_model.predict(pred_list)
    num_list.append(pred[0][1])

WARNING:tensorflow:AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000002231741FAE8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000002231741FAE8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert

In [32]:
num_list

[0.10350984,
 0.1104088,
 0.11779558,
 0.12541091,
 0.13225551,
 0.13683502,
 0.1414878,
 0.14627196,
 0.15115112,
 0.15614001,
 0.16143762,
 0.16728984,
 0.17330757,
 0.17953093,
 0.18518437,
 0.18988799,
 0.19061306,
 0.19134033,
 0.192099,
 0.19257042,
 0.19252437,
 0.19247833,
 0.18978879,
 0.18591927,
 0.18124515,
 0.1764522,
 0.17173909,
 0.16712627,
 0.16261306,
 0.15835632,
 0.15447573,
 0.15067323,
 0.14636315,
 0.14179944,
 0.13774179,
 0.13393179,
 0.13051353,
 0.1271697,
 0.12389934,
 0.12070144,
 0.117575,
 0.114519015,
 0.11153238,
 0.1086141,
 0.105574995]

In [33]:
list=[947,2021,1,23,4,2,130,0,20]
pred_list=np.array(list).reshape(1,9)
pred=lotto_model.predict(pred_list)
pred

array([[0.8074296 , 0.19257042]], dtype=float32)

In [34]:
num_list[19]

0.19257042

In [35]:
num_list[44],num_list[42],num_list[40],num_list[37],num_list[35],num_list[33]

(0.105574995, 0.11153238, 0.117575, 0.1271697, 0.13393179, 0.14179944)

In [36]:
num_list=[]
for i in range(1,46,1):
    list=[947,2021,1,23,3,3,80,1]
    list.append(i)
    pred_list=np.array(list).reshape(1,9)
    pred=lotto_model.predict(pred_list)
    num_list.append(pred[0][1])

In [37]:
num_list

[0.19296448,
 0.19337974,
 0.1932784,
 0.19317713,
 0.1930759,
 0.19131373,
 0.18599333,
 0.1793611,
 0.17286666,
 0.16655266,
 0.16042455,
 0.15501405,
 0.1497363,
 0.14344391,
 0.13736917,
 0.13176659,
 0.12662184,
 0.121649854,
 0.11684692,
 0.1122137,
 0.1077462,
 0.10445914,
 0.101360574,
 0.09813282,
 0.095186815,
 0.09232019,
 0.08953138,
 0.08681871,
 0.084180675,
 0.08161563,
 0.07912198,
 0.07669815,
 0.07434165,
 0.07204836,
 0.06982045,
 0.067637056,
 0.06550555,
 0.06343662,
 0.06141599,
 0.059165675,
 0.05685641,
 0.05463203,
 0.05248984,
 0.050427176,
 0.04847319]

In [38]:
1,3,5,6,8,10,2
1,2,9,20,30,40,3

(1, 2, 9, 20, 30, 40, 3)

In [39]:
num_list[9]

0.16655266

In [40]:
1+2+3+5+6+8+10

35

In [41]:
num_list[0],num_list[9],num_list[19],num_list[29],num_list[39]

(0.19296448, 0.16655266, 0.1122137, 0.08161563, 0.059165675)

In [42]:
lotto_data2

        회차    연도   월   일  홀수  짝수   총합  연속횟수  숫자 당첨
14801  632  2015   1  10   3   3  160     0  41  N
3703   884  2019  11   9   3   3  150     0  31  N
12062  694  2016   3  19   5   1  140     0  30  N
13570  660  2015   7  25   4   2  150     0  42  N
39283   75  2004   5   8   1   5  140     0  15  N
...    ...   ...  ..  ..  ..  ..  ...   ...  .. ..
37046  126  2005   4  30   3   3  150     0  22  Y
23436  435  2011   4   2   1   5  160     0   8  Y
37044  126  2005   4  30   3   3  150     0  20  Y
31895  243  2007   7  28   2   4  120     0  19  Y
38104  102  2004  11  13   2   4  160     0  24  Y

[13452 rows x 10 columns]

In [43]:
X1=lotto_data2.loc[:,["회차","연도","월","일","총합","연속횟수","숫자"]]
y1=lotto_data2.loc[:,"당첨"]

In [44]:
X1

        회차    연도   월   일   총합  연속횟수  숫자
14801  632  2015   1  10  160     0  41
3703   884  2019  11   9  150     0  31
12062  694  2016   3  19  140     0  30
13570  660  2015   7  25  150     0  42
39283   75  2004   5   8  140     0  15
...    ...   ...  ..  ..  ...   ...  ..
37046  126  2005   4  30  150     0  22
23436  435  2011   4   2  160     0   8
37044  126  2005   4  30  150     0  20
31895  243  2007   7  28  120     0  19
38104  102  2004  11  13  160     0  24

[13452 rows x 7 columns]

In [45]:
y_en1=pd.get_dummies(y1)
y_en1

       N  Y
14801  1  0
3703   1  0
12062  1  0
13570  1  0
39283  1  0
...   .. ..
37046  0  1
23436  0  1
37044  0  1
31895  0  1
38104  0  1

[13452 rows x 2 columns]

In [46]:
lotto_model=Sequential()
lotto_model.add(Dense(14,input_dim=7,activation="relu"))
lotto_model.add(Dense(56,activation="relu"))
lotto_model.add(Dense(112,activation="relu"))
lotto_model.add(Dense(56,activation="relu"))
lotto_model.add(Dense(14,activation="relu"))
lotto_model.add(Dense(2,activation="softmax"))
lotto_model.compile(loss="categorical_crossentropy",
             optimizer="adam",
             metrics=["acc"])

In [52]:
lotto_model.fit(X1,y_en1,epochs=100,batch_size=100,
               validation_split=0.2)

Epoch 1/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6444 - acc: 0.6376 - val_loss: 1.2622 - val_acc: 0.0015
Epoch 2/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6448 - acc: 0.6400 - val_loss: 1.2014 - val_acc: 0.0019
Epoch 3/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6472 - acc: 0.6354 - val_loss: 1.1513 - val_acc: 0.0000e+00
Epoch 4/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6489 - acc: 0.6321 - val_loss: 1.1952 - val_acc: 0.0000e+00
Epoch 5/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6455 - acc: 0.6372 - val_loss: 0.9964 - val_acc: 0.0152
Epoch 6/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6490 - acc: 0.6362 - val_loss: 1.1269 - val_acc: 0.0182
Epoch 7/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6498 - acc: 0.6321 - val_loss: 1.2206 - val_acc: 3.7161e-04
Epoch 8/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6438 - acc: 0.6350 - val_loss: 1.0568 - val_acc: 0.0149
Epoch 9/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6432 - acc: 0.6369 - val_loss: 0.9757 - val_acc: 0.0316
Epoch 10/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6519 - acc: 0.6347 - val_loss: 1.0614 - val_acc: 0.0011
Epoch 11/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6474 - acc: 0.6339 - val_loss: 1.0842 - val_acc: 0.0104
Epoch 12/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6452 - acc: 0.6357 - val_loss: 1.0669 - val_acc: 0.0342
Epoch 13/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6433 - acc: 0.6369 - val_loss: 1.0352 - val_acc: 0.0145
Epoch 14/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6435 - acc: 0.6340 - val_loss: 1.1166 - val_acc: 0.0093
Epoch 15/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6423 - acc: 0.6393 - val_loss: 1.1305 - val_acc: 0.0093
Epoch 16/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6426 - acc: 0.6366 - val_loss: 1.1009 - val_acc: 0.0234
Epoch 17/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6375 - acc: 0.6380 - val_loss: 0.9305 - val_acc: 0.0706
Epoch 18/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6397 - acc: 0.6409 - val_loss: 1.0763 - val_acc: 0.0357
Epoch 19/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6390 - acc: 0.6345 - val_loss: 1.1423 - val_acc: 0.0037
Epoch 20/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6366 - acc: 0.6407 - val_loss: 1.0738 - val_acc: 0.0342
Epoch 21/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6373 - acc: 0.6416 - val_loss: 1.1851 - val_acc: 0.0149
Epoch 22/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6398 - acc: 0.6388 - val_loss: 1.1829 - val_acc: 0.0045
Epoch 23/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6367 - acc: 0.6379 - val_loss: 1.0812 - val_acc: 0.0045
Epoch 24/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6407 - acc: 0.6331 - val_loss: 1.2880 - val_acc: 0.0093
Epoch 25/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6402 - acc: 0.6413 - val_loss: 1.1909 - val_acc: 0.0123
Epoch 26/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6364 - acc: 0.6397 - val_loss: 1.2323 - val_acc: 0.0059
Epoch 27/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6367 - acc: 0.6385 - val_loss: 1.2959 - val_acc: 0.0089
Epoch 28/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6386 - acc: 0.6395 - val_loss: 1.1944 - val_acc: 0.0104
Epoch 29/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6325 - acc: 0.6398 - val_loss: 1.0259 - val_acc: 0.0936
Epoch 30/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6319 - acc: 0.6444 - val_loss: 1.2992 - val_acc: 0.0078
Epoch 31/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6373 - acc: 0.6369 - val_loss: 1.3405 - val_acc: 0.0104
Epoch 32/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6367 - acc: 0.6414 - val_loss: 1.1160 - val_acc: 0.0308
Epoch 33/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6330 - acc: 0.6419 - val_loss: 1.3635 - val_acc: 0.0100
Epoch 34/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6332 - acc: 0.6391 - val_loss: 1.2596 - val_acc: 0.0123
Epoch 35/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6279 - acc: 0.6429 - val_loss: 1.3300 - val_acc: 0.0074
Epoch 36/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6344 - acc: 0.6399 - val_loss: 1.2473 - val_acc: 0.0100
Epoch 37/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6281 - acc: 0.6452 - val_loss: 1.2474 - val_acc: 0.0364
Epoch 38/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6314 - acc: 0.6451 - val_loss: 1.3686 - val_acc: 0.0045
Epoch 39/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6277 - acc: 0.6454 - val_loss: 1.2237 - val_acc: 0.0331
Epoch 40/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6294 - acc: 0.6465 - val_loss: 1.1210 - val_acc: 0.0543
Epoch 41/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6256 - acc: 0.6448 - val_loss: 1.1732 - val_acc: 0.0557
Epoch 42/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6271 - acc: 0.6406 - val_loss: 1.0971 - val_acc: 0.1119
Epoch 43/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6282 - acc: 0.6419 - val_loss: 1.3398 - val_acc: 0.0100
Epoch 44/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6273 - acc: 0.6441 - val_loss: 1.2248 - val_acc: 0.0513
Epoch 45/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6288 - acc: 0.6464 - val_loss: 1.3289 - val_acc: 0.0331
Epoch 46/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6286 - acc: 0.6407 - val_loss: 1.1670 - val_acc: 0.0390
Epoch 47/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6275 - acc: 0.6417 - val_loss: 1.2147 - val_acc: 0.0438
Epoch 48/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6289 - acc: 0.6418 - val_loss: 1.3095 - val_acc: 0.0082
Epoch 49/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6251 - acc: 0.6413 - val_loss: 1.2612 - val_acc: 0.0535
Epoch 50/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6289 - acc: 0.6413 - val_loss: 1.4270 - val_acc: 0.0059
Epoch 51/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6277 - acc: 0.6381 - val_loss: 1.1721 - val_acc: 0.0442
Epoch 52/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6285 - acc: 0.6426 - val_loss: 1.4093 - val_acc: 0.0141
Epoch 53/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6251 - acc: 0.6405 - val_loss: 1.1620 - val_acc: 0.0661
Epoch 54/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6277 - acc: 0.6449 - val_loss: 1.2303 - val_acc: 0.0242
Epoch 55/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6244 - acc: 0.6422 - val_loss: 1.3234 - val_acc: 0.0360
Epoch 56/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6232 - acc: 0.6430 - val_loss: 1.3803 - val_acc: 0.0219
Epoch 57/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6255 - acc: 0.6474 - val_loss: 1.0418 - val_acc: 0.1055
Epoch 58/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6253 - acc: 0.6437 - val_loss: 1.1939 - val_acc: 0.0201
Epoch 59/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6201 - acc: 0.6503 - val_loss: 1.5359 - val_acc: 0.0074
Epoch 60/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6259 - acc: 0.6453 - val_loss: 1.4494 - val_acc: 0.0178
Epoch 61/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6211 - acc: 0.6461 - val_loss: 1.2618 - val_acc: 0.0405
Epoch 62/100

108/108 [==============================] - 0s 2ms/step - loss: 0.6225 - acc: 0.6507 - val_loss: 1.2735 - val_acc: 0.0453
Epoch 63/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6225 - acc: 0.6480 - val_loss: 1.3342 - val_acc: 0.0346
Epoch 64/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6222 - acc: 0.6435 - val_loss: 1.3650 - val_acc: 0.0650
Epoch 65/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6202 - acc: 0.6494 - val_loss: 1.3541 - val_acc: 0.0465
Epoch 66/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6219 - acc: 0.6419 - val_loss: 1.3253 - val_acc: 0.0375
Epoch 67/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6192 - acc: 0.6483 - val_loss: 1.2972 - val_acc: 0.0394
Epoch 68/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6203 - acc: 0.6454 - val_loss: 1.3641 - val_acc: 0.0212
Epoch 69/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6215 - acc: 0.6484 - val_loss: 1.1171 - val_acc: 0.0892
Epoch 70/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6195 - acc: 0.6449 - val_loss: 1.4547 - val_acc: 0.0201
Epoch 71/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6179 - acc: 0.6469 - val_loss: 1.3341 - val_acc: 0.0528
Epoch 72/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6193 - acc: 0.6433 - val_loss: 1.1245 - val_acc: 0.0933
Epoch 73/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6202 - acc: 0.6459 - val_loss: 1.5256 - val_acc: 0.0134
Epoch 74/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6171 - acc: 0.6485 - val_loss: 1.2767 - val_acc: 0.0487
Epoch 75/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6223 - acc: 0.6419 - val_loss: 1.3637 - val_acc: 0.1100
Epoch 76/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6224 - acc: 0.6410 - val_loss: 1.4199 - val_acc: 0.0190
Epoch 77/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6178 - acc: 0.6459 - val_loss: 1.4423 - val_acc: 0.0364
Epoch 78/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6160 - acc: 0.6454 - val_loss: 1.3600 - val_acc: 0.0405
Epoch 79/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6155 - acc: 0.6472 - val_loss: 1.5284 - val_acc: 0.0238
Epoch 80/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6166 - acc: 0.6478 - val_loss: 1.3265 - val_acc: 0.0491
Epoch 81/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6162 - acc: 0.6407 - val_loss: 1.3560 - val_acc: 0.0386
Epoch 82/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6180 - acc: 0.6451 - val_loss: 1.4020 - val_acc: 0.0308
Epoch 83/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6166 - acc: 0.6444 - val_loss: 1.4150 - val_acc: 0.0383
Epoch 84/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6159 - acc: 0.6453 - val_loss: 1.4253 - val_acc: 0.0479
Epoch 85/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6162 - acc: 0.6472 - val_loss: 1.4457 - val_acc: 0.0264
Epoch 86/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6131 - acc: 0.6492 - val_loss: 1.2743 - val_acc: 0.0810
Epoch 87/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6157 - acc: 0.6476 - val_loss: 1.5008 - val_acc: 0.0208
Epoch 88/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6267 - acc: 0.6445 - val_loss: 1.4341 - val_acc: 0.0219
Epoch 89/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6188 - acc: 0.6450 - val_loss: 1.4911 - val_acc: 0.0412
Epoch 90/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6110 - acc: 0.6481 - val_loss: 1.4598 - val_acc: 0.0338
Epoch 91/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6102 - acc: 0.6453 - val_loss: 1.6861 - val_acc: 0.0204
Epoch 92/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6153 - acc: 0.6448 - val_loss: 1.7283 - val_acc: 0.0379
Epoch 93/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6094 - acc: 0.6483 - val_loss: 1.5009 - val_acc: 0.0438
Epoch 94/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6137 - acc: 0.6432 - val_loss: 1.5352 - val_acc: 0.0427
Epoch 95/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6119 - acc: 0.6441 - val_loss: 1.2732 - val_acc: 0.0892
Epoch 96/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6260 - acc: 0.6375 - val_loss: 1.4832 - val_acc: 0.0082
Epoch 97/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6209 - acc: 0.6427 - val_loss: 1.5745 - val_acc: 0.0160
Epoch 98/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6176 - acc: 0.6440 - val_loss: 1.7084 - val_acc: 0.0190
Epoch 99/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6159 - acc: 0.6402 - val_loss: 1.2666 - val_acc: 0.0621
Epoch 100/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6147 - acc: 0.6442 - val_loss: 1.3743 - val_acc: 0.0706

In [48]:
lotto_data2.corr()

,회차,연도,월,일,홀수,짝수,총합,연속횟수,숫자
회차,1.000000,0.998479,0.028827,-0.002619,-0.014451,0.018162,0.009663,0.000046,0.006087
연도,0.998479,1.000000,-0.026134,-0.007992,-0.015816,0.019846,0.010695,0.000912,0.005833
월,0.028827,-0.026134,1.000000,0.014804,0.024746,-0.030134,-0.022245,-0.012894,0.004506
일,-0.002619,-0.007992,0.014804,1.000000,-0.003853,-0.001012,0.039930,-0.032712,0.001263
홀수,-0.014451,-0.015816,0.024746,-0.003853,1.000000,-0.988907,0.019908,-0.053537,0.004706
짝수,0.018162,0.019846,-0.030134,-0.001012,-0.988907,1.000000,-0.013508,0.030739,-0.004126
총합,0.009663,0.010695,-0.022245,0.039930,0.019908,-0.013508,1.000000,-0.067887,0.135807
연속횟수,0.000046,0.000912,-0.012894,-0.032712,-0.053537,0.030739,-0.067887,1.000000,-0.004722
숫자,0.006087,0.005833,0.004506,0.001263,0.004706,-0.004126,0.135807,-0.004722,1.000000

In [49]:
lotto_data2.loc[lotto_data2["당첨"] == "Y","당첨"] = 1
lotto_data2.loc[lotto_data2["당첨"] == "N","당첨"] = 0

In [50]:
lotto_data2

        회차    연도   월   일  홀수  짝수   총합  연속횟수  숫자 당첨
14801  632  2015   1  10   3   3  160     0  41  0
3703   884  2019  11   9   3   3  150     0  31  0
12062  694  2016   3  19   5   1  140     0  30  0
13570  660  2015   7  25   4   2  150     0  42  0
39283   75  2004   5   8   1   5  140     0  15  0
...    ...   ...  ..  ..  ..  ..  ...   ...  .. ..
37046  126  2005   4  30   3   3  150     0  22  1
23436  435  2011   4   2   1   5  160     0   8  1
37044  126  2005   4  30   3   3  150     0  20  1
31895  243  2007   7  28   2   4  120     0  19  1
38104  102  2004  11  13   2   4  160     0  24  1

[13452 rows x 10 columns]

In [51]:
lotto_data2["숫자"].unique()

array([41, 31, 30, 42, 15, 24,  8, 19, 21, 17,  1,  6, 34, 45, 11, 37, 25,
        2, 23, 18, 39, 43, 32, 27, 35, 38, 26, 29, 10, 16, 36,  3, 44, 13,
       28, 20,  7,  5, 12, 14, 33,  9, 40,  4, 22], dtype=int64)